h1 {
  color: rgb(150,150,150);
}

.hide {
  display: none;
}

.hacker {
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(40,40,40);
  color: white;
  margin-bottom: 4px;
  margin-right: 2px;
  cursor: pointer;
}

.hacker:hover {
  background-color: rgb(200,200,200);
  color: rgb(40,40,40);
}